{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo">
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
  <input type="checkbox" id="darkmode-toggle" class="input-dark"/>
  <label for="darkmode-toggle"></label>
</div>

<main class="container">
  <form class="form-card" method="post">
    {% csrf_token %}
    <input
      class="form-card-title"
      type="text"
      name="titulo"
      placeholder="Título"
    />
    <textarea
      class="autoresize"
      name="detalhes"
      placeholder="Digite o conteúdo..."
    ></textarea>
    <button class="btn" type="submit">Criar</button>
  </form>

  <ul class="card-container" id="sortable-list">
    {% for note in notes %}
    <li class="sortable-card">
      <div class="card">
          <h3 class="card-title">{{ note.title }}</h3>
          <div class="card-content">
            <p>{{ note.content }}</p>
            <form action="delete/" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ note.id }}">
              <button type="submit" class="delete-button">
                  <img src="{% static 'notes/img/trash-icon.png' %}" alt="delete" class="delete" title="Excluir">
              </button>
            </form>
            <form action="edit/" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ note.id }}">
              <button type="submit" class="edit-button">
                <img src="{% static 'notes/img/edit-icon.png' %}" alt="edit" class="edit" title="Editar">
              </button>
            </form>
          </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <script type="text/javascript" src="{% static 'notes/js/script.js' %}"></script>
</main>
{% endblock %}