{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Lista de Tags</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
            integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
            crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static 'notes/css/tags_list.css' %}">
    </head>
    <body>
        <div class="appbar">
            <img src="{% static 'notes/img/logo-getit.png' %}" class="logo">
            <span class="subtitle">Como o Post-it, mas com outro verbo</span>
            <input type="checkbox" id="darkmode-toggle" class="input-dark"/>
            <label for="darkmode-toggle"></label>
            <a href="{% url 'index' %}">
                <img src="{% static 'notes/img/home.png' %}" alt="home" class="img-home" title="Home">
            </a>
        </div>
        <h1>Lista de Tags</h1>
        <ul>
            {% for tag in tags %}
                <li><a href="{% url 'tag_detail' tag.id %}" class="a">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
        <script type="text/javascript" src="{% static 'notes/js/tags_list.js' %}"></script>
    </body>
</html>
